In [53]:
import numpy as np
import pandas as pd
import itertools

In [54]:
def f12(x1, x2):
    return (-6*x1**2 + 10*x1 + 6)*(-2*x2**2 + 5*x2 + 8)

def f21(x1, x2):
    return (4*x2**2 - 9*x2 + 11)*(-3*x1**2 + 15)

In [55]:
f12(2,2)

20

In [1]:
step1, step2 = 0.01, 0.01
a1, b1 = 0, 2 # 0, 2
a2, b2 = -1, 1 # 0, 2

In [71]:
first_x_grid = [round(x, 3) for x in np.arange(a1, b1+step1/10, step1)]
second_x_grid = [round(x, 3) for x in np.arange(a2, b2+step2/10, step2)]
x_grid = [first_x_grid, second_x_grid]

In [72]:
indexes = list(itertools.product(x_grid[0], x_grid[1]))
index = pd.MultiIndex.from_tuples(indexes, names=["x1", "x2"])

In [73]:
values = np.array([(f12(x1, x2), f21(x1, x2)) for x1 in x_grid[0] for x2 in x_grid[1]])

In [74]:
df = pd.DataFrame(values, index=index, columns=["f12", "f21"])
pd.options.display.max_rows = 14

In [75]:
df

               f12       f21
x1  x2
0.0 -1.00   6.0000  360.0000
    -0.99   6.5388  357.4560
    -0.98   7.0752  354.9240
    -0.97   7.6092  352.4040
    -0.96   8.1408  349.8960
...            ...       ...
2.0  0.96  21.9136   18.1392
     0.97  21.9364   18.1008
     0.98  21.9584   18.0648
     0.99  21.9796   18.0312
     1.00  22.0000   18.0000

[40401 rows x 2 columns]

In [76]:
max_x1_min_x1 = df.groupby("x1").min().max()["f12"]
print("f12*")
print(df.loc[df['f12'] == max_x1_min_x1]["f12"])
max_x2_min_x2 = df.groupby("x2").min().max()["f21"]
print("\nf21*")
print(df.loc[df['f21'] == max_x2_min_x2]["f21"])

f12*
x1    x2
0.83  -1.0    10.1666
Name: f12, dtype: float64

f21*
x1   x2
1.0   1.0    72.0
2.0  -1.0    72.0
Name: f21, dtype: float64

In [77]:
df["d12"] = abs(df["f12"]-10.1666)

In [78]:
df["d21"] = abs(df["f21"]-72.0)

In [79]:
df["max_d"] = [max(ab[0], ab[1]) for ab in list(zip(df["d12"], df["d21"]))]

In [80]:
min_v = min(df["max_d"])
print(min_v)

0.4662308799999977

In [81]:
df.loc[df["max_d"] == min_v]

                 f12        f21       d12       d21     max_d
x1   x2
1.94 -0.71  9.700369  71.982219  0.466231  0.017781  0.466231

In [83]:
df.xs(1.94, level="x1").xs(-0.71)

f12       9.700369
f21      71.982219
d12       0.466231
d21       0.017781
max_d     0.466231
Name: -0.71, dtype: float64